body{
    background-color: #374151;
}
/* Scrollbar  */
/* width */
::-webkit-scrollbar {
    width: 10px; 
    height: 16px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #374151;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #123fa0;
    border-radius: 100vh;
    border: 2px solid 374151;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4978dd;
    cursor: pointer;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;